#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding:0 4rem 0 4rem;
  font-size: 16px;
  font-family: Arial;
}
header{
  text-align: center;
  border-bottom: 2px solid black;
}
h1{
  margin: 0;
  padding: 0;
}
.About-me{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.More-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border-bottom: 2px solid black; */

}
.edu-div{
  border-right: 2px solid black;
  height: 970px;
  width: 650px;
}
.edu-info,
.exp-info{
  border-bottom: 2px solid black;
}
.edu-details{
  margin-right: 40px;
}
.edu-show{
  margin-top: 20px;
}
.exp-div{
  width: 100rem;
}
.exp-info h2,
.exp-details{
  margin-left: 40px;
}
.about-me-div{
  width: 450px;
}
.gen-info{
  width: 300px;
}

.experience-div{
  width: 680px;
}
.conpy-header{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 20px;
}
.role{
  margin-top: 10px;
}
.locn-date-div{
  text-align: right;
}
.rel-work{
  width: 450px;
  font-size: 16px;
  font-family: Arial;
  /* color: #888; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* tablet screen size  */
@media only screen and (max-width: 768px){
  #root {
    padding: 0 1.5rem 0 1.5rem;
  }
  body,
  html{
    width: 100%;
    overflow-x: hidden;
  }
  h2{
    font-size: 21px;
  }
  .About-me {
    flex-direction: column;
  }
  .about-me-div {
    /* width: 350px; */
    width: 100%;
  }
  .edu-div {
    width: 300px;
  }
  .exp-div {
    width: 400px;
  }
  .exp-info h2, 
  .exp-details {
    margin-left: 20px;
  }
  .conpy-header {
    width: 400px;
  }
  .locn-date-div {
    text-align: right;
    margin-right: 20px;
  }
  .rel-work {
    width: 420px;
  }
}

/* Mobile phone form screen size of 600px */
@media screen and (max-width: 600px) {
  h2{
    font-size: 16px;
  }
  .edu-div {
    width: 550px;
  }
  .exp-div {
    width: 300px;
  }
  .conpy-header {
    width: 280px;
  }
  .locn-date-div {
    margin-right: 0;
  }
  .rel-work {
    width: 288px;
  }
}

@media only screen and (max-width: 478px){
  #root {
    padding: 0 0.5rem 0 0.5rem;
  }
  .edu-div {
    width: 170px;
  }
  .exp-div {
    width: 188px;
  }
  .exp-info h2, .exp-details {
    margin-left: 10px;
  }
  .conpy-header {
    flex-direction: column;
    width: 280px; 
  }
}
